@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #FCF5EE;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Noto Sans', sans-serif;
}
.title {
  font-weight: bold;
  background: #F9E7B2;
}
